# Ignore the target directory
target/

# Ignore Cargo.lock if it's a library
# The presence of Cargo.lock depends on whether this is a binary or a library
# Libraries typically don't include Cargo.lock in version control
Cargo.lock